// colors
!header_back = #fdf2d3
!body_back = #ffffff
// !tab_border = #dddddd
// !background_tab = #cccccc
!background_tab = #e0e040
// !site_name = #e0a020
!site_name = #fabb20
!tab_border = #c0c040
!tab_highlight = !tab_border
!flash_notice_border = #c0c040
!flash_notice_fill = #e0e040
!flash_error_border = #f83020
!flash_error_fill = #fd855b

body
  font-family: 'Georgia', serif
  margin: 0
  padding: 0
  background = !header_back

#header
  background = !header_back
  padding: 5px 10px
  margin: 0

#title
  img
    vertical-align: middle
    border: none
  h1
    color = !site_name
    font-family: 'Arial Rounded MT Bold', 'Arial Black', 'Arial', sans-serif
    font-size: 300%
    margin: 20px 0
  a
    text-decoration: none

#session
  float: right
  text-align: right

  p
    padding: 0
    margin: 0

#flash div
  display: block
  margin: 10px
  padding: 10px
  border: 2px solid black
#flash div.notice
  background = !flash_notice_fill
  border-color = !flash_notice_border
#flash div.error
  background = !flash_error_fill
  border-color = !flash_error_border

#navigation
  background = !header_back
  border-bottom = 4px solid !tab_border
  font-family: 'Arial', sans-serif
  font-size: 80%
  ul
    padding: 0
    margin: 0
    padding-bottom: 5px
  li
    display: inline
    margin-left: 5px
    a
      background = !background_tab
      margin: 5px 0 5px 15px
      padding: 5px 20px 5px
      border = 4px solid !tab_border
      // border-bottom: none
      color: black
      text-decoration: none
      &:hover
        background = !tab_highlight
        // border-bottom = 4px solid !tab_border
        // padding-bottom: 5px
    a.current
      background = !body_back
      border-bottom: none
      padding-bottom: 9px
      &:hover
        border-bottom: none
        padding-bottom: 9px

#content
  clear: both
  padding: 10px
  background = !body_back

#footer
  border-top = 4px solid !tab_border
  padding: 10px
  background = !header_back
