// colors
!header_back = #eeeeee
!body_back = #ffffff
!tab_border = #dddddd

body
  font-family: 'Georgia', serif
  margin: 0
  padding: 0
  background = !header_back

#header
  background = !header_back
  padding: 10px

#title 
  a:link, a:visited
    color: black

#session
  float: right
  text-align: right

  p
    padding: 0
    margin: 0

#flash div
  display: block
  margin: 10px
  padding: 10px
  border: 2px solid black
#flash div.notice
  background: #ccff99
  border-color: #00ff00
#flash div.error
  background: #ffcc99
  border-color: #ff0000

#navigation
  background = !header_back
  border-bottom = 4px solid !tab_border
  font-family: 'Arial', sans-serif
  font-size: 80%
  ul
    padding: 0
    margin: 0
    padding-bottom: 5px
  li
    display: inline
    margin-left: 5px
    a
      background = !tab_border
      margin: 5px 0 5px 15px
      padding: 5px 20px 9px
      border = 4px solid !tab_border
      border-bottom: none
      color: black
      text-decoration: none
      &:hover
        background = !body_back
        border-bottom = 4px solid !tab_border
        padding-bottom: 5px
    a.current
      background = !body_back
      &:hover
        border-bottom: none
        padding-bottom: 9px

#content
  clear: both
  padding: 10px
  background = !body_back

#footer
  border-top = 4px solid !tab_border
  padding: 10px
  background = !header_back
